@{
    ViewData["Title"] = "Grade Calculator";
    
}

@model GradeCalculatorModel

<body>

    <!--grade calculator form-->
    <form asp-action="GradeCalculator" method="post" id="form">
        <label for="assignments">Assignments: </label>
        <input type="number" step="0.01" value=0.0 id="Assignments" asp-for="Assignments" /><label class="" for="assignments"> % of 50%</label>
        <br /><br />
        <label for="groupProject">Group Project:  </label>
        <input type="number" step="0.01" value=0.0 id="GroupProject" asp-for="GroupProject" /><label for="assignments"> % of 10%</label>
        <br /><br />
        <label for="quizzes">Quizzes:  </label>
        <input type="number" step="0.01" value=0.0 id="Quizzes" asp-for="Quizzes" /><label for="assignments"> % of 10%</label>
        <br /><br />
        <label for="exams">Exams:  </label>
        <input type="number" step="0.01" value=0.0 id="Exams" asp-for="Exams" /><label for="assignments"> % of 20%</label>
        <br /><br />
        <label for="intex">INTEX:  </label>
        <input type="number" step="0.01" value=0.0 id="Intex" asp-for="Intex" /><label for="assignments"> % of 10%</label>
        <br /><br />
        <input type="submit" id="submitButton" value="Calculate Grade" />
        <div asp-validation-summary="All"></div>
    </form>
    <br />

    <!--grade calculation output-->

    <br /><br />

</body>