@{
    ViewData["Title"] = "David Schraedel";
}

<body>
    <!--Image of me doing something I enjoy-->
    <h5>Something I enjoy doing:</h5>
    <img src="img/DavePiano.jpg" width="500" />

    <!--paragraph on what I hope to get out of this IS 413 class-->
    <h5>What I hope to gain from this course:</h5>
    <p>I hope in this course, I become more comfortable with programming larger applications, and organizing that process.  I feel like I am fairly skilled in my ability to understand code and build programs when I know what is going on.  It can sometimes get overwhelming when more and more is added to the process, and I hope to improve in my organization and grasping the bigger picture of what we can do and how to accomplish it with applications, especially with multiple languages.</p>

    <!--top 3 jobs I am interested in after graduation-->
    <h5>My top 3 job interests at the moment:</h5>
    <ul>
        <li>Web Development</li>
        <li>Software Development</li>
        <li>Data Analytics</li>
    </ul>

</body>
